* {
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.mainContent {
  position: absolute;
  top: 10%;
  bottom: 0px;
  width: 100%;
}

/* .searchbar input[type=text] {
padding: 6px;
border: none;
font-size: 17px;
/* margin-left: 100px; */
} */

.posAbsolute{
  position: absolute;
  z-index: 2;
  /* width: 100%; */
  top: 2%;
  left: 50%;

}

.popup{
  padding: 5px;
  text-align: center;
}

.popupButton{

  padding: 5px;
}

.infoElement{
  border-style: ridge;
  padding: 5px;
  margin: 5px;

}

#display {
  /* height: 80%; */
}
#options {
  height: 20%;
  background-color: green;
}
#mapid {
  height: 100%;
  width: 100%;
  z-index: 1;
}

#jsonresp {
  width:10em;
  min-height:10.5em;
  margin-left:1em;
  padding:.25em;
  overflow-y:scroll;
  float:left;
  background:#eee;
  border:1px solid #aaa;
  box-shadow: 2px 2px 6px #999;
  color:#666;
}

.bold{
  font-weight: bold;
}

.titleBar {
  width: 100%;
  height: 10%;
}

.titleBar h1{
  width: auto;
  text-align: center;
}

.btndiv {
  width: fit-content;
  margin: 0 auto;
}
.btn {
  top: 0px;
  background-color: Teal;
  border: none;
  color: white;
  padding: 0px 16px;
  font-size: 1.1rem;
  cursor: pointer;
}
.btn:hover {
  background-color: Darkcyan;
}
.btnMenu {
  position: fixed;
  left: 0px;
  height: 10%;
}
.btnLogout {
  position: fixed;
  right: 0px;
  height: 10%;
}
.dropdown {
  height: 100%
}
.btnTypeDrop {
  border-radius: 5px;

}
.btnRatingDrop {
  border-radius: 5px;

}
.btnDistDrop {
  border-radius: 5px;
  
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  color: lightgrey;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px,
change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
