<!DOCTYPE html>
<html>
   <body>
   
      <h3>Add Bathroom</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Name</label><br>
         <input type = "text" name = "name" placeholder = "Name" /><br>
         <label for = "building">Building</label><br>
         <input type = "text" name = "building" placeholder = "Building" /><br>
         <label for = "address">Address</label><br>
         <textarea name = "address" placeholder = "address"></textarea><br>
         <label for = "floor">Floor</label><br>
         <input type = "text" name = "floor" placeholder = "Floor" /><br>

         <label for = "Gender">Gender</label><br>
         <input type = "text" name = "gender" placeholder = "Gender" /><br>
         <label for = "Cleanliness">Cleanliness</label><br>
         <input type = "text" name = "cleanliness" placeholder = "Cleanliness" /><br>
         <label for = "Latitude">Latitude</label><br>
         <input type = "text" name = "latitude" placeholder = "Latitude" /><br>
         <label for = "Longitude">Longitude</label><br>
         <input type = "text" name = "longitude" placeholder = "Longitude" /><br>
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>